<button class="button">Button</button>
<button class="button--gray">Button</button>
<button class="button--white">Button</button>
<br/><br/>


<button class="button--hover">Button</button>
<button class="button--gray button--hover">Button</button>
<button class="button--white button--hover">Button</button>
<br/><br/>


<button class="button--focus">Button</button>
<button class="button--gray button--focus">Button</button>
<button class="button--white button--focus">Button</button>
<br/><br/>


<button class="button--disabled">Button</button>
<button class="button--gray button--disabled">Button</button>
<button class="button--white button--disabled">Button</button>