<div class="refills-components">
	<div>
		<input type="radio" class="dc-controller dc-radio" id="r1" name="radio-custom">
		<label for="r1" class="dc-label">Check this</label>
	</div>
	<br/>
	<div>
		<input type="radio" class="dc-controller dc-radio" id="r2" name="radio-custom" checked>
		<label for="r2" class="dc-label">Check that</label>
	</div>
	<br/>
	<div>
		<input type="radio" class="dc-controller dc-radio" id="r3" name="radio-custom" disabled>
		<label for="r3" class="dc-label">Check Disabled</label>
	</div>
</div>