<form class="search-bar" role="search">
	<button type="submit" class="button">
		<img src="assets/icons/icon-search.svg" alt="Search Icon">
	</button>
	<div class="search-bar-input-container">
		<input type="search" placeholder="Search...">
	</div>
</form>

<form class="search-bar" role="search">
	<button type="submit" class="button--gray">
		<img src="assets/icons/icon-search-dark.svg" alt="Search Icon">
	</button>
	<div class="search-bar-input-container">
		<input type="search" placeholder="Search...">
	</div>
</form>

<form class="search-bar search-bar-subtile" role="search">
	<div class="search-bar-input-container">
		<input type="search" placeholder="Search...">
	</div>
	<button type="submit">
		<img src="assets/icons/icon-search-dark.svg" alt="Search Icon">
	</button>
</form>

<form class="search-bar" role="search">
	<div class="dropdown">
		<div class="dropdown-container">
			<p class="dropdown-button">Click to Select</p>
			<ul class="dropdown-menu dropdown-select">
				<li>Dropdown Menu Item</li>
				<li>Another Item</li>
				<li>Item Three</li>
				<li>The Last One</li>
			</ul>
		</div>
	</div>
	<button type="submit">
		<img src="assets/icons/icon-search.svg" alt="Search Icon">
	</button>
	<div class="search-bar-input-container">
		<input type="search" placeholder="Search...">
	</div>
</form>