<div class="refills-components">
	<div>
		<input type="checkbox" id="c4" class="dc-checkbox dc-checkbox--alt">
		<label for="c4" class="dc-label">Normal bla bla</label>

		<input type="checkbox" id="c7" class="dc-checkbox dc-checkbox--alt" checked>
		<label for="c7" class="dc-label">Normal bla bla</label>

		<br/>

		<input type="checkbox" id="c5" class="dc-checkbox dc-checkbox--alt" disabled>
		<label for="c5" class="dc-label">Disabled bla b</label>

		<input type="checkbox" id="c6" class="dc-checkbox dc-checkbox--alt" checked disabled>
		<label for="c6" class="dc-label">Disabled bla bla</label>
	</div>
</div>