<div class="refills-components">
	<div>
		<input type="checkbox" id="c4" class="checkbox-switch">
		<label for="c4" class="label">Normal bla bla</label>

		<input type="checkbox" id="c7" class="checkbox-switch" checked>
		<label for="c7" class="label">Normal bla bla</label>

		<br/>

		<input type="checkbox" id="c5" class="checkbox-switch" disabled>
		<label for="c5" class="label">Disabled bla b</label>

		<input type="checkbox" id="c6" class="checkbox-switch" checked disabled>
		<label for="c6" class="label">Disabled bla bla</label>
	</div>
</div>