<div class="refills-components">
	<div class="tooltip-item">
		Tooltip on bottom
		<div class="tooltip tooltip--bottom">It is a long established fact</div>
	</div>
</div>

<div class="refills-components">
	<div class="tooltip-item">
		Tooltip on top
		<div class="tooltip tooltip--top">It is a long established fact</div>
	</div>
</div>

<div class="refills-components">
	<div class="tooltip-item">
		Tooltip on right
		<div class="tooltip tooltip--right">It is a long established fact</div>
	</div>
	<div class="tooltip-item">
		Tooltip on left
		<div class="tooltip tooltip--left">It is a long established fact</div>
	</div>
</div>
