<div class="refills-components">
	<div class="radio-group">
		<label>
			<input type="radio" name="radio-group-blue" value="item" checked>
			<span class="radio-group-item">Item</span>
		</label>
		<label>
			<input type="radio" name="radio-group-blue" value="other-item">
			<span class="radio-group-item">Other But Longer Item</span>
		</label>
		<label>
			<input type="radio" name="radio-group-blue" value="other-item">
			<span class="radio-group-item">Third</span>
		</label>
		<label>
			<input type="radio" name="radio-group-blue" value="third" disabled="disabled">
			<span class="radio-group-item">Last Item</span>
		</label>
	</div>
	<br/>
	<div class="radio-group radio-group--gray">
		<label>
			<input type="radio" name="radio-group-gray" value="item" checked>
			<span class="radio-group-item">Item</span>
		</label>
		<label>
			<input type="radio" name="radio-group-gray" value="other-item">
			<span class="radio-group-item">Other But Longer Item</span>
		</label>
		<label>
			<input type="radio" name="radio-group-gray" value="other-item">
			<span class="radio-group-item">Third</span>
		</label>
		<label>
			<input type="radio" name="radio-group-gray" value="third" disabled="disabled">
			<span class="radio-group-item">Last Item</span>
		</label>
	</div>
</div>
