<h6>Standard:</h6>
<button class="button">Button</button>
<button class="button is-hovered">Hovered</button>
<button class="button is-focused">Focused</button>
<button class="button is-disabled" disabled="disabled" >Disabled</button>


<h6>Secondary: </h6>
<button class="button mod-secondary">Button</button>
<button class="button mod-secondary is-hovered">Hovered</button>
<button class="button mod-secondary is-focused">Focused</button>
<button class="button mod-secondary is-disabled" disabled="disabled" >Disabled</button>

<h6>Flat:</h6>
<button class="button mod-flat">Button</button>
<button class="button mod-flat is-hovered">Hovered</button>
<button class="button mod-flat is-focused">Focused</button>
<button class="button mod-flat is-disabled" disabled="disabled" >Disabled</button>
