body {
    margin: 0;
    padding: 0;
    background-color: $athens-gray;
    font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: $space-xl;
}

h2 {
    font-size: $space-l;
}

h1, h2 {
    margin-bottom: $space-m;
}
