body {
    margin: 0;
    padding: 0;
    background-color: $athens-gray;
    font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: rem(40px);
}

h1, h2 {
    margin-left: 0;
    margin-top: rem(50px);
    font-weight: normal;
}
