body {
    margin: 0;
    padding: 0;
    background-color: $athens-gray;
    font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}
