.page-header {
    margin-bottom: rem(80px);
    h1 {
        color: $abbey;
    }
    nav ul {
        border-left: 2px solid $earl-gray;
        list-style: none;
        padding-left: rem(17px);
        li:not(:last-child) {
            margin-bottom: rem(11px);
        }
        a {
            color: $abbey;
            cursor: pointer;
            transition: transform .1s linear;
            transform: scale(1);
            transform-origin: left;
            display: inline-block;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


code {
    background-color: $catkin;
    padding: 2px;
    font-size: 15px;
}
pre {
    background-color: $catkin;
    padding: rem(20px 40px);
    border-radius: rem(3px);
    code {
        padding: 0;
    }
}

.color-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding: 0;
    li {
        flex: 100% 1 1;
        display: block;
        text-align: center;
        position: relative;
        margin-bottom: rem(24px);
        height: rem(60px);
        .text {
            position: absolute;
            content: attr(title);
            width: 100%;
            display: block;
            bottom: rem(-24px);
            left: 0;
            font-size: rem(14px);
        }
    }
}

.icon-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: rem(17px);
    li {
        flex: 150px 0 0;
        display: block;
        text-align: center;
        margin-bottom: rem(24px);
        .text {
            display: block;
            font-size: rem(14px);
        }
    }
}
