<template>
    <div class="column small-20 small-centered">
        <header class="page-header">
            <h1>${title}</h1>
            <nav if.bind="headings.length">
                <ul>
                    <li repeat.for="heading of headings">
                        <a click.delegate="scrollToPart($index)">${heading}</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="row">
            <require from="app/view/dynamic-html"></require>
            <article class="content">
                <dynamic-html value.bind="articleHtml"></dynamic-html>
            </article>
        </div>
    </div>
</template>
